* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    width: 100%;
	background-color: #2c3e50;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
}

.logo {
    color: white;
	font-size: 24px;
	font-weight: bold;
	margin-right: auto;
}

nav ul {
	list-style-type: none;
	display: flex;
	gap: 30px;
}

nav li {
	
}

nav a {
    color: white;
	text-decoration: none;
	font-weight: 600; /*a képen vastagnak tűnik.*/
}

nav a:hover {
    color: #3498db;
}

.hero {
    background-image: linear-gradient(to top, #3498db, #2980b9);
	height: 400px;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.hero h1 {
    color: white;
	font-size: 48px;
}

.hero p {
    color: white;
	font-size: 18px;
	margin-top: 20px;
}

.container {
	max-width: 1200px;
	width: 100%;
	padding: 20px;
	display: flex;
	margin:auto;
}

.container h1 {
	text-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

footer .container p {
	width: 100%;
	text-align: center;
}

.hero .container {
	flex-direction: column;
}

.blog-grid {
    display: grid;
	grid-template-columns: auto auto auto;
	gap: 30px;
	margin-top: 50px;
	
}

.blog-card {
    background-color: white;
	box-shadow: 0 4px 6px rgba(0,0,0,0.1);
	border-radius: 8px;
	transition: transform 0.3s, box-shadow 0.3s;
}

.blog-card:hover {
    transform: translateY(-5px);
	box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

.blog-card img {
    width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 8px 8px 0 0;
}

.blog-card-content {
    padding: 20px;
}

.blog-card h3 {
    color: #2c3e50;
	margin-bottom: 10px;
}

footer {
	background-color: #34495e;
	color: white;
	text-align: center;
	padding: 30px 0;
	margin-top: 50px;
}
nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* BÓNUSZ FELADAT 15: RESZPONZÍV DESIGN */
/* TODO: Média query 768px alatt:
    - Blog grid: 1 oszlop
    - Hero h1: 36px
    - Nav elemek: függőleges elrendezés */
@media (max-width: 768px) {
	.blog-grid {
		grid-template-columns: auto;
	}
	
	.hear h1 {
		font-size: 36px;
	}
	
	nav {
		flex-direction: row;
	}
}